@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: lightgray ;
    font-family: 'Sora', sans-serif;
}


h1{
    color: black;
    font-size: 2em;
    text-align: center;
    margin: 0.5em 0;
}

article{

    font-size: 40px;
    color: black;
    text-align: center;

}

footer{
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 10px;
    margin: 8px;
}

.tarjeta{
    width: 300px;
    border: 1cm solid black;
    border-radius: 1px;
    padding: 10px;
    border: 0px;
    margin: 1px;
    
}

.tarjeta img{
    width: 300px;
    align-items: stretch;
    
}
.tarjeta h4{
    text-align: center;
    background-color: lightgray;
    color: black;
    font-size: 24px;
}
.tarjeta p{
    text-align: center;
    background-color: lightgray;
    color: black;
    font-size: 24px;
}
.tarjeta-boton {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    
}
.tarjetas-equipo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

@media  only screen and (max-width: 500px) {
    body{
        background-color: lightgray;
        font-size: 16px;
        padding: 30px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 960px) {
body {
background-color: lightgray;
font-size: 16px;
padding: 20px;
} 
}

@media only screen and (min-width: 961px) {
    body {
        background-color: lightgray;
        font-size: 16px;
        padding: 10px;
    }
}   

.parrafo-inicio{
    background-color: lightgrey;
    font-size: 14px;
}

header{
    display: flex;
    min-height: 70px; 
    justify-content:space-between ;
    background-color: coral;
    align-items: center;
    padding: 10px;
    

}

.logo{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo img{
    height: 50px;
}
a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
}

nav a{
    font-weight: 600px;
    padding-right: 10px;

}

nav a:hover{
    color: white;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }
}